* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin:  auto;
    padding-left: 25px;
    padding-right: 25px;
}


/*Stylise l'en-tête (navbar) de la page*/
body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    height: 175px;
    background-color: #FFFFFF;
    color: #fff;
}

.logo {
    width: 980px;
    text-align: center;
    margin-top: 30px;
}


.logo a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 40px;
    cursor: default; /* Désactive le curseur pointer pour rendre le lien non cliquable */
}


/*Stylise une barre de navigation horizontale*/
.main_nav {
    background-color: #FFFFFF;
}

.main_nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.main_nav li {
    margin: 0;
    padding: 0;
}

.main_nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    margin: 15px; /* Ajout de marges à gauche et à droite des liens pour l'espace */
    cursor: pointer; /* Rend les liens cliquables et change le curseur au survol */
}


/*utiliser Flexbox pour centrer horizontalement un conteneur avec une image pleine page*/
.row {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Centrer horizontalement */
    flex-wrap: wrap;
    height: 0vh; /* Utiliser pour la hauteur de la page */
}



.col-2 {
    flex-basis: 50%;
}

.col-2 img {
    width: 100%;
    height: auto; /* Permet de conserver le ratio d'aspect de l'image */
    object-fit: cover;
}



/* Style pour la colonne contenant le titre h1 */
.col-2 h1 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 72px; /* Modifiez la taille de la police selon vos besoins */
}

/* Style pour la colonne contenant le paragraphe p */
.col-2 p {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 20px; /* Modifiez la taille de la police selon vos besoins */
}



.header-section {
    background: radial-gradient(#fff, #FFFFFF);
}



.options-ul {
    position: relative;
    list-style: none;
    padding: 10px;
}

.options-ul li {
    margin-bottom: -20px;
}

.icon-container {
    position: absolute;
    top: -44px;
    right: -358px;
    display: inline-block;
}

.badge {
    position: absolute;
    top: 0px; /* Ajustez la valeur pour rapprocher verticalement */
    right: 0px; /* Ajustez la valeur pour rapprocher horizontalement */
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.2em 0.5em;
}

.icon-container img {
    width: 50px; /* Ajoutez une largeur pour votre icône de panier */
    height: 50px; /* Ajoutez une hauteur pour votre icône de panier */
}



/* Reset des marges et des rembourrages par défaut */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Style de base pour le conteneur de la rangée */
.row {
    display: flex;
    justify-content: center;
}

/* Style pour la colonne personnalisée */
.custom-col {
    width: 100%;
    margin: 0 auto; /* Utilisez "auto" pour centrer horizontalement la colonne */
    background-color: #f0f0f0;
    border-radius: 0;
}

/* Style pour le contenu à l'intérieur de la colonne */
.content {
    padding: 100px;
    text-align: center;
}

/* Style pour les titres */
h1, h3 {
    color: #333; /* Couleur du texte */
    margin-bottom: 10px; /* Ajoute de l'espace en bas des titres */
}

/* Style pour le texte du paragraphe */
p {
    color: #333; /* Couleur du texte légèrement plus claire que les titres */
    line-height: 2; /* Hauteur de ligne pour une meilleure lisibilité */
    /*margin-bottom: 0px; /* Ajoute de l'espace en bas du paragraphe */
}
