* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin:  auto;
    padding-left: 25px;
    padding-right: 25px;
}

/*Stylise l'en-tête (navbar) de la page*/
body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    height: 200px;
    background-color: #333;
    color: #fff;
}

.logo {
    width: 980px;
    text-align: center;
    margin-top: 30px;
}


.logo a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    cursor: default; /* Désactive le curseur pointer pour rendre le lien non cliquable */
}


/*Stylise une barre de navigation horizontale*/
.main_nav {
    background-color: #333;
}

.main_nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.main_nav li {
    margin: 0;
    padding: 0;
}

.main_nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    margin: 15px; /* Ajout de marges à gauche et à droite des liens pour l'espace */
    cursor: pointer; /* Rend les liens cliquables et change le curseur au survol */
}


/*utiliser Flexbox pour centrer horizontalement un conteneur avec une image pleine page*/
.row {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrer horizontalement */
    height: 0vh; /* Utiliser pour la hauteur de la page */
}

.col-2 {
    flex-basis: 100%; /* Utiliser pour toute la largeur */
}

.col-2 img {
    width: 100%; /* Utiliser pour la largeur du conteneur parent */
    height: 0%; /* Utiliser pour la hauteur du conteneur parent */
    object-fit: cover;
}

.col-2 h1,
.col-2 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}




